<div class="container">
  <h3>Contact Us</h3>
  <div class="row">
    <div class="4u">
      <section>
        <ul class="default">
          <li>Do you have a funny story about Ryan?</li>
          <li>Are there pictures that you would like to add to this website?</li>
          <li>Do you have fundraising ideas or a willingness to volunteer with our Foundation? </li>
          <li>We would love to hear from you!</li>
          <li>Please email us at <a href="mailto:theryanthomasfoundation@yahoo.com">theryanthomasfoundation@yahoo.com</a></li>
          <li>or call Shannon Liebrock at (480) 993-5610.</li>
        </ul>
        <footer>
          <a href="#donate" class="button scrolly">Make a Difference</a>
        </footer>
      </section>
    </div>
    <div class="8u" id="photos">
      <div class="row no-collapse">
        <div class="6u hover-box" id="ryan1"><a href="#ryan1" class="image fit"><img src="images/rtf/IMG_0016.jpg" alt="" /></a></div>
        <div class="6u hover-box" id="ryan2"><a href="#ryan2" class="image fit"><img src="images/rtf/IMG_2499.jpg" alt="" /></a></div>
        <div class="modal modal-bg"></div>
        <a href="#photos" class="modal close-modal"></a>
      </div>
      <div class="row no-collapse">
        <div class="6u hover-box" id="ryan3"><a href="#ryan3" class="image fit"><img src="images/rtf/kevin_with_boys.JPG" alt="" /></a></div>
        <div class="6u hover-box" id="ryan4"><a href="#ryan4" class="image fit"><img src="images/rtf/IMG_2534.jpg" alt="" /></a></div>
        <div class="modal modal-bg"></div>
        <a href="#photos" class="modal close-modal"></a>
      </div>
      <div class="row no-collapse">
        <div class="6u hover-box" id="ryan5"><a href="#ryan5" class="image fit"><img src="images/rtf/ryan8.jpg" alt="" /></a></div>
        <div class="6u hover-box" id="ryan6"><a href="#ryan6" class="image fit"><img src="images/rtf/IMG_0656.jpg" alt="" /></a></div>
        <div class="modal modal-bg"></div>
        <a href="#photos" class="modal close-modal"></a>
      </div>
    </div>
  </div>
</div>