<div class="container">
  <h2>Donations</h2>
  <p>
    In addition to the events we host each year in Ryan’s memory, we benefit greatly from direct donations to the foundation.  We are proud to turn 100% of the donations we receive into contributions to other charities or organizations with great vision and heart but perhaps limited resources.
  </p>
  <p class="donations-picture">
    <img src="images/rtf/Scan2_1.jpg" alt="" />
  </p>
  <div class="donations-address-container">
    <p class="donations-address-header">Donations may be made via PayPal by clicking the ‘Donate’ button below or via check mailed to:</p>
    <blockquote class="address">
      <span><strong>The Ryan Thomas Foundation</strong></span>
      <span>c/o Shannon Liebrock</span>
      <span>642 W Wildhorse Dr</span>
      <span>Chandler, AZ. 85286</span>
      <span>(480) 993-5610</span>
    </blockquote>
  </div>
  <div class="12u">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="POST">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="A7SARXTC9WFSQ">
      <input type="submit" name="submit" class="button alt paypal" value="Donate" />
    </form>
  </div>
</div>