<header>
  <div class="container event-details">
    <!--<h2>Come Out and Swing for Water Safety</h2>-->

    <div class="location-details">
      <h4>Saturday, March 18, 2017</h4>
      <h4>Mesa Country Club</h4>
      <h4>660 W. Fairway dr. - Mesa, AZ</h4>
      <h4>12:45 pm Shotgun Start</h4>
    </div>

    <div class="participation-pricing">
      <ul>
        <li>Golf &amp; Dinner - $150</li>
        <li>Foursome - $550</li>
        <li>Foursome &amp; Hole Sponsorship - $775</li>
        <li>Hole Sponsorship - $250</li>
        <li>Dinner only - $25</li>
      </ul>
    </div>

    <a id="corporate-sponsorship" class="corporate-sponsorship" href="#corporate-sponsorship" title="Show/Hide Corporate Sponsorship Options">
      Corporate Sponsorship Options
    </a>

    <div class="corporate-sponsorship-details cf">

      <div class="sponsorship-block"> 
        <h4>Shirt Sponsorship (only one) $7750</h4>   
        <ul>
          <li>Two Foursomes</li>
          <li>Company Logo on T-Shirt</li>
          <li>Recognition During Registration, Golf Carts and Dinner</li>
        </ul> 
      </div>

      <div class="sponsorship-block"> 
        <h4>Hat Sponsorship (only one) $3995</h4>   
        <ul>
          <li>One Foursomes</li>
          <li>Company Logo on Hats</li>
          <li>Recognition During Registration, Golf Carts and Dinner</li>
        </ul>
      </div>

      
      <div class="sponsorship-block"> 
        <h4>Beverage Cart Sponsor $1000</h4>    
        <ul>
          <li>Two Players</li>
          <li>Advertisement on One Beveragecart</li>
          <li>Recognition During Dinner and Awards</li>
        </ul>
      </div>
      
      <div class="sponsorship-block"> 
        <h4>Dinner Sponsor $1000</h4>   
        <ul>
          <li>Two Players</li>
          <li>Company Logo at Dinner Place Settings</li>
          <li>Recognition During Awards</li>
        </ul>
      </div>

      <div class="sponsorship-block"> 
        <h4>Hole Sponsor $200</h4>    
        <ul>
          <li>Company Logo Displayed at One of the 18 Holes</li>
        </ul>
      </div>

    </div>

    <p>
      All entries and payments must be received by Saturday, March 11, 2017.
    </p>

    <div id="flyers" class="flyers cf">
      <div class="hover-box half" id="flyer-1">
        <a href="#flyer-1" title="">
          <img src="/flyers/annual_golf_classic_8_p1.png" alt="" />
        </a>
      </div>
      <div id="flyer-2" class="hover-box half flyer-2">
        <a href="#flyer-2" title="">
          <img src="/flyers/annual_golf_classic_8_p2.png" alt="" />
        </a>
      </div>
      <div class="modal modal-bg"></div>
      <a href="#flyers" class="modal close-modal"></a>
    </div>

    <p>
      Please, view the <a href="/flyers/annual_golf_classic_8.pdf" target="_blank" title="8th Annual Golf Tournament Flyer">Official Flyer</a> for more details and alternative payment options.
    </p>
  </div>
</header>
<div class="content style4 featured">
  <div class="container 75%">
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="F88HLTBWZERKL">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="on0" value="Tournament Options">
      <input type="hidden" name="on1" value="How did you hear about us?">
      <input type="hidden" name="on2" value="Player/Captain">
      <input type="hidden" name="on3" value="Team Name/Sponsor Name">

      <div id="shirt-size-fields">                
        <input type="hidden" name="on4" value="Shirt Size">
      </div>

      <div class="row 50%">
        <div class="6u"><input type="text" maxlength="200" name="os3" placeholder="-- Player/Captain --" /></div>
        <div class="6u"><input type="text" name="os4" maxlength="200" placeholder="-- Team Name/Sponsor Name --" /></div>
      </div>
      <div class="row 50%">
        <div class="12u">
          <div class="select" tabindex="-1">
            <select id="event-option" name="os0" required="required">
              <option value="">-- Tournament Options --</option>
              <option value="Single Player (incl dinner)">Single Player (incl dinner) $150.00 USD</option>
              <option value="Foursome (incl dinner)">Foursome (incl dinner) $550.00 USD</option>
              <option value="Foursome + Hole Sponsor">Foursome + Hole Sponsor $775.00 USD</option>
              <option value="Hole Sponsor">Hole Sponsor $250.00 USD</option>
              <option value="Dinner Only">Dinner Only $25.00 USD</option>
            </select> 
          </div>
        </div>
      </div>
      <div id="shirt-size-inputs" class="row 50%">
        <div class="12u">
          <div class="select" tabindex="-1" >
            <select name="os4" required="required">
              <option value="">-- Shirt Size --</option>
              <option value="Men's M">Men's M </option>
              <option value="Men's L">Men's L </option>
              <option value="Men's XL">Men's XL </option>
              <option value="Men's XXL">Men's XXL </option>
              <option value="Men's XXXL">Men's XXXL </option>
              <option value="Women's S">Women's S </option>
              <option value="Women's M">Women's M </option>
              <option value="Women's L">Women's L </option>
              <option value="Women's XL">Women's XL </option>
              <option value="Youth">Youth </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row 50%">
        <div class="12u">
          <div class="select" tabindex="-1">
            <select name="os2" required="required">
              <option value="">-- How did you hear about us? --</option>
              <option value="Played in a previous year">Played in a previous year </option>
              <option value="Drowning Prevention Coalition">Drowning Prevention Coalition </option>
              <option value="Copper State">Copper State </option>
              <option value="Fire Department">Fire Department </option>
              <option value="Police Department">Police Department </option>
              <option value="Banner Children's or Phoenix Children's Hospital">Banner Children's or Phoenix Children's Hospital </option>
              <option value="Other">Other </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="12u">
          <ul class="actions">
            <li>
              <input type="submit" class="button alt paypal" value="Register" />
              <input type="reset" class="button alt" value="Clear Form" />
            </li>
          </ul>
        </div>
      </div>
    </form>

    <hr>
    <div class="row" id="donate-alt">
      <div class="12u">
        <h2>Not so great on the golf course, but still want to make a differnece?</h2>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="POST">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="A7SARXTC9WFSQ">
          <input type="submit" name="submit" class="button alt paypal" value="Donate" />
        </form>
      </div>
    </div>
  </div>
</div>
