<!-- Header -->

<div id="site-header" class="site-header test">
  <header>
    <div class="logo"><a href="/"><img src="/images/rtf/log1.png" alt=""></a></div>
    <input id="nav-toggle" type="checkbox" hidden>
    <label class="nav-toggle" for="nav-toggle">
      <span class="icon fa-bars"></span>
    </label>
    <nav class="nav-menu">
      <a href="{% if page.url != '/' %}/{% endif %}#first" class="scrolly">About</a> 
      <a href="/events.html" class="scrolly">Events</a> 
      <a href="/lifejacket_program.html" class="scrolly">Lifejacket Program</a> 
      <a href="//childrensafetyzone.com/go" class="scrolly" target="_blank">Child Safety Zone</a> 
      <a href="{% if page.url != '/' %}/{% endif %}#contact" class="scrolly">Contact</a> 
      <a href="{% if page.url != '/' %}/{% endif %}#donate" class="scrolly">Donate</a> 
    </nav>
  </header>
</div>
