<div class="container">
  <div class="row">
    <div class="4u">
      <section>
        <span class="feature-icon"><span class="icon fa-bolt"></span></span>
        <header>
          <h3>Facts</h3>
        </header>
        <p>
          Childhood drowning is the <strong>leading</strong> cause of injury-related death in children ages 0-5. In 2016, there were 155 incidents with 49 fatalities. <strong>16 children and 33 adults/teens</strong> lost their lives in Arizona due to drowning. Tragically, these deaths could have been prevented with life jackets, proper water barriers, education, and CPR training.
        </p>
      </section>
    </div>
    <div class="4u">
      <section>
        <span class="feature-icon"><span class="icon fa-life-ring"></span></span>
        <header>
          <h3>Involvement</h3>
        </header>
        <p>
          After the loss of their twenty-one year old son, Ryan Thomas, at Saguaro Lake in 2008, the Thomas family created the Ryan Thomas Foundation in hopes of <strong>making a difference</strong> in the lives of others. Directed and run entirely by volunteers, the Ryan Thomas Foundation aims to contribute all of it's event proceeds to local causes. 
        </p>
      </section>
    </div>
    <div class="4u">
      <section>
        <span class="feature-icon"><span class="icon fa-star"></span></span>
        <header>
          <h3>Accomplishments</h3>
        </header>
        <p>
          In addition to donations to organizations that promote water safetey education, he Foundation has also worked with the Arizona Game and Fish department to assist in the installation and maintenance of 18 life-saving life jacket kiosks at several Arizona lakes. Learn more about <a class="scrolly" href="/lifejacket_program.html">The Life Jacket Loaner Program</a>
        </p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="12u">
      <footer>
        <a href="#donate" class="button scrolly">Make a Difference</a>
      </footer>
    </div>
  </div>
</div>