<div class="container">
  <div class="row">
    <div class="4u">
      <section>
        <span class="feature-icon"><span class="icon fa-bolt"></span></span>
        <header>
          <h3>Facts</h3> 2014, 152 incidents with 53 fatalities.
        </header>
        <p>
          Childhood drowning is the <strong>leading</strong> cause of injury-related death in children ages 0-5. In 2014, there were 152 incidents with 53 fatalities. <strong>33 adults, 6 teens, and 14 children</strong> lost their lives in Arizona due to drowning. Tragically, these deaths could have been prevented with life jackets, proper water barriers, education, and CPR training.
        </p>
      </section>
    </div>
    <div class="4u">
      <section>
        <span class="feature-icon"><span class="icon fa-life-ring"></span></span>
        <header>
          <h3>Involvement</h3>
        </header>
        <p>
          After the loss of their twenty-one year old son, Ryan Thomas, at Saguaro Lake in 2008, the Thomas family created the Ryan Thomas Foundation in hopes of <strong>making a difference</strong> in the lives of others. Directed and run entirely by volunteers, the Ryan Thomas Foundation aims to contribute all of it's event proceeds to local causes. 
        </p>
      </section>
    </div>
    <div class="4u">
      <section>
        <span class="feature-icon"><span class="icon fa-star"></span></span>
        <header>
          <h3>Accomplishments</h3>
        </header>
        <p>
          Since 2009 the Ryan Thomas Foundation has contributed nearly <strong>$100,000</strong> to charitable organizations that educate and promote water safety. In addition, they have donated 375 life jackets to the Arizona Game and Fish Department and 100 life jackets to the YMCA for <em>The Life Jacket Loaner Program</em>. <br /> <a class="scrolly" href="#life-jacket-loaner-program">Learn More</a>
        </p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="12u">
      <footer>
        <a href="#donate" class="button scrolly">Make a Difference</a>
      </footer>
    </div>
  </div>
</div>