<div class="container">
  <h3>Life Jacket Loaner Program</h3>
  <div class="row no-collapse">
    <div class="4u collapse">
      <span class="image featured"><img src="images/rtf/station.jpg" alt="" /></span>
    </div>
    <div class="8u collapse">
      <p class="text-left">
        Anyone can become victim to water injurys regardless of swiming abilities or water experience. Ryan was an experienced boater, but unfortuantely was not wearing a life jacket and drowned nearly 20 feet from the dock. Investigations could not conclude what caused Ryan to drown.
      </p>
      <p class="text-left">
        The Ryan Thomas Foundation has partnered with the DPCA to collaborate with other state and local entities to establish life jacket loaner stations at several lakes and rivers in Arizona. The stations will be located near the dock of each lake and will allow boaters to use a life vest from the loaner station and return it at the end of the day. The stations will not only provide life vest to those who do not have them, it will also serve as a reminder for all individuals to put their life vest on.</p>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="12u">
      <footer>
        <a href="#donate" class="button scrolly">Make a Difference</a>
      </footer>
    </div>
  </div>
</div>