
{% raw %}
<script id="shirt-size-dropdown-template" type="text/template">
  <div class="12u">
    <div class="select" tabindex="-1" >
      <select name="os{{x}}" required="required">
        <option value="">-- Shirt Size {{label}}--</option>
        <option value="Men's M">Men's M </option>
        <option value="Men's L">Men's L </option>
        <option value="Men's XL">Men's XL </option>
        <option value="Men's XXL">Men's XXL </option>
        <option value="Men's XXXL">Men's XXXL </option>
        <option value="Women's S">Women's S </option>
        <option value="Women's M">Women's M </option>
        <option value="Women's L">Women's L </option>
        <option value="Women's XL">Women's XL </option>
        <option value="Youth">Youth </option>
      </select>
    </div>
  </div>
</script>

<script id="shirt-size-input-template" type="text/template">
  <input type="hidden" name="on{{x}}" value="Shirt Size {{label}}">
</script>
{% endraw %}